{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Gallery</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>🐾 Welcome to the Cat Gallery 🐾</h1>
    <div class="gallery">
        <div class="image-wrapper">
            <img src="{% static 'images/mochi1.jpg' %}" alt="Mochi">
            <div class="caption">Meet Mochi</div>
        </div>
        <div class="image-wrapper">
            <img src="{% static 'images/mochi2.jpg' %}" alt="Mochi">
            <div class="caption">Say hi to Mochi!</div>
        </div>
        <div class="image-wrapper">
            <img src="{% static 'images/mochi3.jpg' %}" alt="Mochi">
            <div class="caption">Charming whiskers</div>
        </div>
        <div class="image-wrapper">
            <img src="{% static 'images/mochi4.jpg' %}" alt="Mochi">
            <div class="caption">Cute and Fluffy</div>
        </div>
        <div class="image-wrapper">
            <img src="{% static 'images/mochi5.jpg' %}" alt="Mochi">
            <div class="caption">Loves to eat fish</div>
        </div>
        <div class="image-wrapper">
            <img src="{% static 'images/mochi6.jpg' %}" alt="Mochi">
            <div class="caption">My First Cat</div>
        </div>
        <div class="image-wrapper">
            <img src="{% static 'images/mochi7.jpg' %}" alt="Mochi">
            <div class="caption">Loves to bite me</div>
        </div>
        <div class="image-wrapper">
            <img src="{% static 'images/mochi8.jpg' %}" alt="Mochi">
            <div class="caption">Friendly and Charming</div>
        </div>
        <div class="image-wrapper">
            <img src="{% static 'images/mochi9.jpg' %}" alt="Mochi">
            <div class="caption">Playing with my dog everyday</div>
        </div>
    </div>
</body>
</html>
